<% if resource.errors.any? %>
  <div class="alert alert-danger">
    form have <%= pluralize resource.errors.count, "error"  %>
    <ul class="error">
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>